*{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}

li{
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    user-select: none;
    list-style-type: none;
}

li.checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
li.checked::before{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    height: 15px;
    width: 7px;
    transform: rotate(45deg);
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
}
.close:hover{
    background-color: #f44336;
    color: white;
}
.description-btn{
    position: absolute;
    right: 39px;
    top: 0px;
    padding: 12px 16px;
}
.description-btn:hover{
    background-color:burlywood;
    color: white;
}
.checked-btn{
    position: absolute;
    right: 155px;
    top: 0px;
    padding: 12px 16px;
}
.checked-btn:hover{
    background-color:burlywood;
    color: white;
}
.unchecked-btn{
    position: absolute;
    right: 250px;
    top: 0px;
    padding: 12px 16px;
}
.unchecked-btn:hover{
    background-color:burlywood;
    color: white;
}
.edit-btn{
    position: absolute;
    right: 360px;
    top: 0px;
    padding: 12px 16px;
}
.edit-btn:hover{
    background-color:burlywood;
    color: white;
}
.up-btn{
    position: absolute;
    right: 420px;
    top: 0px;
    padding: 12px 16px;
}
.up-btn:hover{
    background-color:burlywood;
    color: white;
}
.down-btn{
    position: absolute;
    right: 475px;
    top: 0px;
    padding: 12px 16px;
}
.down-btn:hover{
    background-color:burlywood;
    color: white;
}
.btn{
    background-color: aquamarine;
    padding: 5px 20px;
}
.btn:hover{
    background-color: aqua;
}
li{
    text-align: left;
  }
.delete-task{
    display: none;
}
.time{
    border: 1px solid red;
}
.form-help-header{
    display: block;
    margin-left: 76px;
}
.form-help-desc{
    display: block;
    margin-left: 105px;
}
