
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="header" style="margin-right: 49px;">Header</label>
    <input type="header" id="header" formControlName="header">
    <span *ngIf="form.get('header').invalid && form.get('header').touched" class="form-help-header">
      <span *ngIf="form.get('header')['errors']['required']">Header cannot be empty</span>
    </span>
  </div>

  <div>
    <label for="description" style="margin-right: 20px;">Description</label>
    <input type="description" id="description" formControlName="description">
    <span *ngIf="form.get('description').invalid && form.get('description').touched" class="form-help-desc">
        <span *ngIf="form.get('description')['errors']['required']">Description cannot be empty</span>
    </span>
  </div>
  
  <button 
    type="submit"
    class="btn" 
    style="border-radius: 0.25rem; margin-left: 30px;"
    [disabled]="form.invalid"
  >   
    Отправить
  </button>
</form>

<ul id="myUl" style="margin-top: 20px">
  <app-task *ngFor="let t of tasksNew" [task]="t" [tasks]="tasksNew"(onUpdateTask)="updateTaskList($event)"></app-task>
  
</ul>

  
